/*icon class*/
.icon {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	overflow: hidden; /*image not overflowing*/
	
	position:absolute;
	transform: translate(-50%,-50%);/*Centered*/
	
	z-index: 1; /*Always on top*/
}

/*image in the top-left corner*/
.icon img {
    position: absolute;
    top: 0px;
    left: 0px;
}

/*contains the icons and define the space in which they will move*/
#iconContainer {
}



