/*icon class*/
.icon {
	width: 1024px;
	height: 1024px;
	border-radius: 512px;
	-webkit-border-radius: 512px;
	-moz-border-radius: 512px;
	overflow: hidden; /*image not overflowing*/
}

/*contains the icons and define the space in which they will move*/
#iconContainer {
  background-color: red;
}



