/*icon class*/
.icon {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	overflow: hidden; /*image not overflowing*/
}

/*image in the top-left corner*/
.icon img {
    position: absolute;
    top: 0px;
    left: 0px;
}

/*contains the icons and define the space in which they will move*/
#iconContainer {
}



