/*main css file*/
body, html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #9bd5f0;
}

/*Navbar, starting closed*/
#NavBar { 
    display: none;
}

/*jumbotrons*/
.jumbotron h2{
    text-align: center;
}

.jumbotron p{
    text-align: center;
}

/*collapse button*/
#black_text {
    color:black;
}
